In [3]:
import pandas as pd
import matplotlib.pyplot as plt     
import seaborn as sns 
import warnings

warnings.filterwarnings("ignore")

In [4]:
assessment_centre_df = pd.read_csv('data/assessment_centre_locations.csv')
covid_vaccine_df = pd.read_csv('data/COVID-19 Vaccine Data.csv')
covid_testing_df = pd.read_csv('data/covidtesting.csv')
positive_age_df = pd.read_csv('data\percent_positive_by_agegrp.csv')

In [9]:
assessment_centre_df.shape

(2765, 50)

In [8]:
assessment_centre_df.isnull().sum()

active                       2030
location_id                     0
location_name                   0
location_name_fr             2618
operated_by                  2002
operated_by_fr               2604
city                            0
address                         2
address_fr                   2422
postal_code                     0
province                        0
latitude                        1
longitude                       1
phu_id                       2601
phu                             0
phu_fr                       2386
phone                        1319
website                       216
monday                         40
tuesday                        40
wednesday                      35
thursday                       42
friday                         38
saturday                      116
sunday                        220
after_hours                  2716
appointments                    2
walk_ins                       29
drive_through                2532
children_under_2             2603
accessible                   2634
temporarily_closed           2755
pharmacy                      246
community_lab                2758
assessment_centre            2527
email                        2759
online_appointments           380
phone_appointments            200
symptomatic                  2575
general_population           2745
age_threshold                2541
weeks_pregnant               2763
french_language_services     2619
asl_interpretation           2646
first_nations                2757
free_parking                 2659
paid_parking                 2736
public_transit               2643
additional_information       2507
additional_information_fr    2691
dtype: int64

In [12]:
covid_vaccine_df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,total_doses_administered,total_individuals_at_least_one,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,1,2020-12-24T00:00:00,NaN,NaN,NaN,10756,NaN,NaN,NaN
1,2,2020-12-30T00:00:00,7847.0,NaN,NaN,18603,NaN,NaN,NaN
2,3,2020-12-31T00:00:00,4899.0,NaN,NaN,23502,NaN,NaN,NaN
3,4,2021-01-01T00:00:00,5385.0,NaN,NaN,28887,NaN,NaN,NaN
4,5,2021-01-02T00:00:00,4304.0,NaN,NaN,33191,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
161,162,2021-06-08T00:00:00,158209.0,70684.0,87525.0,10267613,9093283.0,2348660.0,1174330.0
162,163,2021-06-09T00:00:00,177506.0,69160.0,108346.0,10445119,9162443.0,2565352.0,1282676.0
163,164,2021-06-10T00:00:00,182350.0,65250.0,117100.0,10627469,9227693.0,2799552.0,1399776.0
164,165,2021-06-11T00:00:00,199951.0,65985.0,133966.0,10827420,9293678.0,3067484.0,1533742.0
165,166,2021-06-12T00:00:00,195032.0,61013.0,134019.0,11022452,9354691.0,3335522.0,1667761.0

In [15]:
covid_testing_df.isnull().sum()

Reported Date                                                  0
Confirmed Negative                                           446
Presumptive Negative                                         481
Presumptive Positive                                         468
Confirmed Positive                                             2
Resolved                                                      12
Deaths                                                        40
Total Cases                                                    2
Total patients approved for testing as of Reporting Date       6
Total tests completed in the last day                         69
Percent positive tests in last day                            73
Under Investigation                                            0
Number of patients hospitalized with COVID-19                 56
Number of patients in ICU due to COVID-19                     86
Number of patients in ICU, testing positive for COVID-19      56
Number of patients in ICU, testing negative for COVID-19      86
Number of patients in ICU on a ventilator due to COVID-19     86
Num. of patients in ICU on a ventilator testing positive      56
Num. of patients in ICU on a ventilator testing negative      86
Total Positive LTC Resident Cases                            106
Total Positive LTC HCW Cases                                 110
Total LTC Resident Deaths                                    103
Total LTC HCW Deaths                                         103
Total_Lineage_B.1.1.7                                        358
Total_Lineage_B.1.351                                        362
Total_Lineage_P.1                                            374
dtype: int64